<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error"
      internalLogFile="${LogDir}/nlog-internal.txt">

  <!-- Define base log directory -->
  <variable name="LogDir" value="D:\SwathiRekha\OpenFinance\Nlog\Logs" />

  <targets>
    <!-- Target 1: DataSharing_API -->
    <target name="DataSharing_API" xsi:type="File"
            layout="Timestamp: ${longdate} |${level:uppercase=true}| ${message}"
            fileName="${LogDir}/DataSharing_API/DataSharing_API.txt"
            archiveAboveSize="2000000"
            archiveFileName="${LogDir}/DataSharing_API/Archives/DataSharing_API.{#}.txt"
            archiveDateFormat="yyyy-MM-dd HH_mm_ss"
            archiveNumbering="Date"
            maxArchiveDays="1"
            concurrentWrites="true"
            keepFileOpen="true"
            openFileCacheTimeout="30"
            createDirs="true" />

    <!-- Target 2: DataSharing -->
    <target name="DataSharing" xsi:type="File"
            layout="Timestamp: ${longdate} |${level:uppercase=true}| ${message}"
            fileName="${LogDir}/DataSharing/DataSharing.txt"
            archiveAboveSize="2000000"
            archiveFileName="${LogDir}/DataSharing/Archives/DataSharing.{#}.txt"
            archiveDateFormat="yyyy-MM-dd HH_mm_ss"
            archiveNumbering="Date"
            maxArchiveDays="1"
            concurrentWrites="true"
            keepFileOpen="true"
            openFileCacheTimeout="30"
            createDirs="true" />
  </targets>

  <rules>
    <logger name="DataSharing_API.Logger" minlevel="Info" writeTo="DataSharing_API" />
    <logger name="DataSharingLogger" minlevel="Info" writeTo="DataSharing" />
  </rules>

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

</nlog>
